<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Welcome to Mofowallet<br><small>Powered by FIMKrypto</small></h1>
    <div class="hidden-xs"><br></div>
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default start-pane">
          <div class="panel-body">
            <table>
              <tr>
                <td>
                  <h4><b>Create account</b></h4>
                  <p>Easily create a new FIMK or NXT account and savely store it's secret access phrase.</p>
                </td>
              </tr>              
              <tr>
                <td>
                  <button class="btn btn-success" ng-click="showNewAccountModal()">Create Account</button>
                </td>
              </tr>
            </table>
          </div>
        </div>        
      </div>
      <div class="col-md-3">
        <div class="panel panel-default start-pane">
          <div class="panel-body">
            <table>
              <tr>
                <td>
                  <h4><b>Get free FIMK/NXT</b></h4>
                  <p>New account holders can get free FIMK and NXT instantly by registering.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-primary">Get your free share</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default start-pane">
          <div class="panel-body">
            <table>
              <tr>
                <td>            
                  <h4><b>Asset Exchange</b></h4>
                  <p>See all trades, orders and charts in real time for each asset in the FIMK and NXT decentralized asset exchanges.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-primary">Go to Asset Exchange</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default start-pane">
          <div class="panel-body">
            <table>
              <tr>
                <td>             
                  <h4><b>Explore</b></h4>
                  <p>Watch the blockchain grow in real time. Look inside a block and you'll see all transactions.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-primary">Go to Explorer</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><br><br>
        <div class="panel panel-default start-intro-pane">
          <div class="panel-body">
            <h4 class="text-center">Mofowallet is free and decentralized access to FIMK and NXT</h4>
            <div class="hidden-xs"><br></div>
            <div class="row">
              <div class="col-md-4">
                <h4 class="text-center"><i class="fa fa-lock"></i>&nbsp;&nbsp;Secure</h4><br>
                <p>All encryption is handled client-side. Neither your passphrase nor any of your private information ever leaves your browser.</p>
                <p>You must always backup your highly secure passphrases. For easier daily usage we also offer an encrypted wallet file, this wallet file works in all supported browsers.</p>
              </div>
              <div class="col-md-4">
                <h4 class="text-center"><i class="fa fa-users"></i>&nbsp;&nbsp;Decentralized</h4><br>
                <p>Download the client and become part of the network. Or access through the web over one of our own or any of the public decentralized API servers.</p>
                <p>While mofowallet is decentralized software it is in no way slow or unresponsive like traditional crypto currency clients.</p>
                <p> Mofowallet ships with customized FIMK and NXT engines which support two way push/pull communications making mofowallet the fastest and most interactive way to interact with FIMK or NXT.</p>
              </div>
              <div class="col-md-4">
                <h4 class="text-center"><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;Easy</h4><br>
                <p>Open source mofowallet is under constant development always trying to make working with FIMK and NXT easier for the beginning user.</p>
                <p>Mofowallet is available in 64 languages!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
