<!doctype html>
<html lang="en" ng-app="fim.base" ng-controller="AppController">
  <head>
    <meta charset="utf-8" />
    <title ng-bind="TITLE"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>.ng-cloak { display:none; }</style>
    <script src="mode.js"></script>    
    <script type="text/javascript">
    try {
      isNodeJS = typeof require == 'function' && require('child_process');
    } catch (e) {
      isNodeJS = false;
    }
    DEBUG = false;

    if (IS_TEST_NET === false) {
      if (("www.mofowallet.com" == window.location.host || 
           "mofowallet.com" == window.location.host) && (window.location.protocol != "https:")) {
        window.location.protocol = "https";
      }
      else if ("fimkrypto.github.io" == window.location.host) {
        window.location = "https://www.mofowallet.com/launch.html" + window.location.hash;
      }
    }

    var entityMap = {"&":"&amp;","<":"&lt;",">":"&gt;",'"':'&quot;',"'":'&#39;',"/":'&#x2F;',"\n":'<br>'};
    function escapeHtml(string) {
      return String(string).replace(/[&<>"'\/]|[\n]/g, function (s) {
        return entityMap[s];
      });
    }
    </script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico?v=6" />

    <!-- Bootswatch theme switcher -->
    <link type="text/css" rel="stylesheet" href="plugins/themes/css/spacelab.bootstrap.min.css" id="bootswatch.style" />

    <link rel="stylesheet" href="styles/main.660cf03d.css">

    <!--<link type="text/css" rel="stylesheet" href="/amstockchart/amcharts/style.css"> 
    <style>
      a[title="JavaScript charts"] {
        display: none !important;
      }
    </style>
    <script src="amstockchart/amcharts/amcharts.js"></script> 
    <script src="amstockchart/amcharts/serial.js"></script> 
    <script src="amstockchart/amcharts/amstock.js"></script>-->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="scripts/scripts.a0678144.js"></script>

  </head>
  <body ng-class="{'showing-landing-page': showingLandingPage}">

    <div id="smallScreenTest" class="visible-xs"></div>

    <audio preload="auto"><source src="images/beep.wav"></audio>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            ng-click="mainMenuCollapsed=!mainMenuCollapsed">
          <span class="sr-only" translate="translate.toggle_navigation"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ng-hide="TRADE_UI_ONLY" class="navbar-brand" ng-href="#/start"><strong ng-bind="WALLET_NAME"></strong><span class="text-danger"><b>{{isTestnet? ' TEST' : ''}}</b></span>
        </a>
        <a ng-show="TRADE_UI_ONLY" class="navbar-brand" ng-href="#/activity/fim/assets/latest"><strong ng-bind="WALLET_NAME"></strong>Wallet&nbsp;<span class="text-danger"><b>{{isTestnet? 'TEST' : 'BETA'}}</b></span>
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-default" collapse="mainMenuCollapsed" menu-close="mainMenuCollapsed=true">
        <ul class="nav navbar-nav" nav-menu="active">
          <li ng-if="IS_SMALL_DEVICE">
            <div class="btn-group btn-group-justified">
              <div class="btn-group" role="group" ng-if="currentAccount">
                <a href="#/accounts/{{currentAccount.id_rs}}/activity/latest" class="btn btn-default">
                  <i class="fa fa-home text-danger"></i>&nbsp;<span translate="translate.home"></span>
                </a>
              </div>
              <div class="btn-group" role="group">
                <a href="javascript:window.history.back()" class="btn btn-default">
                  <i class="fa fa-arrow-left"></i>&nbsp;<span translate="translate.back"></span>
                </a>
              </div>
              <div class="btn-group" role="group">
                <a href="javascript:window.history.forward()" class="btn btn-default">
                  <span translate="translate.forward"></span>&nbsp;<i class="fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </li>

          <li ng-if="!IS_SMALL_DEVICE">
            <a href="javascript:window.history.back()"><i class="fa fa-arrow-left"></i></a>
          </li>
          <li ng-if="!IS_SMALL_DEVICE">
            <a href="javascript:window.history.forward()"><i class="fa fa-arrow-right"></i></a>
          </li>

          <!-- <li route-active="start/">
            <a ng-href="#/start"><i class="fa fa-home text-success"></i>&nbsp;&nbsp;{{'translate.home' | translate}}</a>
          </li> -->

          <li route-active="accounts/{{currentAccount.id_rs}}/" ng-show="currentAccount && !IS_SMALL_DEVICE">
            <a ng-href="#/accounts/{{currentAccount.id_rs}}/activity/latest">
              <b><i class="fa fa-home text-danger"></i></b>
            </a>
          </li>
          <li role="presentation" route-active="messenger/{{currentAccount.id_rs}}" ng-show="currentAccount">
            <a href="#/messenger/{{currentAccount.id_rs}}">
              <i class="fa fa-comment-o"></i><span class="hidden-sm">&nbsp;&nbsp;<span translate="translate.messenger"/></span>
            </a>
          </li>
       
          <li route-active="home/" ng-hide="TRADE_UI_ONLY">
            <a ng-href="#/home/{{paramEngine}}/activity/latest">
              <i class="fa fa-users"></i><span class="hidden-sm">&nbsp;&nbsp;{{'translate.dashboard' | translate}}</span>
            </a>
          </li>          
          
          <li route-active="activity/" ng-hide="TRADE_UI_ONLY">
            <a ng-href="#/activity/{{paramEngine}}/activity/latest"><i class="fa fa-cloud"></i><span class="hidden-sm">&nbsp;&nbsp;{{'translate.explorer' | translate}}</span></a>
          </li>

          <li>
            <a ng-href="#/activity/{{paramEngine}}/assets/latest"><i class="fa fa-line-chart"></i><span class="hidden-sm">&nbsp;&nbsp;{{'translate.assets' | translate}}</span></a>
          </li> 

          <li ng-show="TRADE_UI_ONLY && selectedAccount">
            <!-- <span>Account:&nbsp;<b>{{selectedAccount.name || selectedAccount.id_rs}}</b></span>&nbsp;&nbsp; -->            
            <a href>
              <span>Trading balance:&nbsp;<b>{{selectedAccount.unconfirmedBalanceNXT}}</b>
                <span class="text-muted" ng-show="selectedAccount.unconfirmedBalanceNXT!=selectedAccount.balanceNXT">({{selectedAccount.balanceNXT}})</span> {{selectedAccount.symbol}}
              </span>
            </a>
          </li>      
        </ul>

        <ul class="nav navbar-nav navbar-right" nav-menu="active">
          <li ng-hide="TRADE_UI_ONLY">
            <a href="#/search/fim/accounts/">
              <i class="fa fa-search"></i><span class="hidden-md hidden-sm">&nbsp;&nbsp;{{'translate.search' | translate}}</span>
            </a>
          </li>          

          <li route-active="settings" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <span class="glyphicon glyphicon-wrench"></span><span class="hidden-md hidden-sm">&nbsp;&nbsp;{{'translate.settings' | translate}}</span>&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li route-active>
                <a ng-href="#/settings/themes"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;{{'translate.themes' | translate}}</a>
              </li>
              <!-- only displayed when running as front end for FIMK server package-->
              <li route-active ng-if="forceLocalHost && !enableDualEngines" ng-hide="TRADE_UI_ONLY">
                <a ng-href="#/server/fim/peers"><i class="fa fa-globe"></i>&nbsp;&nbsp;{{'translate.peers' | translate}}</a> 
              </li>
              <li route-active ng-if="isNodeJS" ng-hide="TRADE_UI_ONLY">
                <a ng-href="#/server/fim/console"><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;{{'translate.fim_server' | translate}}</a> 
              </li>
              <li route-active ng-if="isNodeJS && enableDualEngines" ng-hide="TRADE_UI_ONLY">
                <a ng-href="#/server/nxt/console"><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;{{'translate.nxt_server' | translate}}</a>
              </li>              
             <!--  <li route-active ng-hide="TRADE_UI_ONLY">
                <a ng-href="#/settings/wallet"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;{{'translate.wallet' | translate}}</a> 
              </li> -->
              <li route-active ng-hide="TRADE_UI_ONLY">
                <a ng-href="#/settings/contacts"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{'translate.contacts' | translate}}</a> 
              </li>
              <li route-active ng-hide="TRADE_UI_ONLY">
                <a ng-href="#/settings/database"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;{{'translate.database' | translate}}</a> 
              </li>
              <li ng-if="isNodeJS">
                <a href ng-click="openDevTools()">
                  <span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;{{'translate.dev_tools' | translate}}
                </a> 
              </li>
              <li ng-if="isNodeJS">
                <a href ng-click="reloadMofoWallet()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;{{'translate.reload_application' | translate}}</a> 
              </li>
              <li>
                <a href="#/translation/en"><i class="fa fa-globe"></i>&nbsp;&nbsp;{{'translate.translator' | translate}}</a> 
              </li>
            </ul>
          </li>
          <li ng-if="multiLanguage">
            <a href ng-click="showLanguageModal()">
              <i class="fa fa-globe"></i><span class="hidden-md hidden-sm">&nbsp;&nbsp;{{'translate.language'|translate}}</span>
            </a>
          </li>
          <li style="margin-right: 10px">
            <a href="#/login-to">
              <span ng-show="!currentAccount">
                <i class="fa fa-sign-in"></i>&nbsp;&nbsp;<span translate="translate.sign_in"></span>
            </span>
              <span ng-show="currentAccount">
                <i class="fa fa-sign-out"></i>&nbsp;&nbsp;<span translate="translate.sign_out"></span>
            </span>
            </a>
          </li>           
        </ul>
      </div>
    </nav>

    <div class="container-fluid" style="padding-bottom: 50px">
      <div ng-view></div>
    </div>

    <nav ng-if="isNodeJS" class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div>
          <span>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
              <li>&nbsp;</li>
              <li style="padding-top: 2px">
                <div class="btn-group dropup">

                  <a href class="btn btn-default navbar-btn">FIMK</a>

                  <!-- global network - always displays the height of the connected public node -->              
                  <a style="text-align: left;" class="btn btn-default navbar-btn" 
                      href="#/activity/fim/activity/latest">
                    <i class="fa fa-globe"></i><span>&nbsp;&nbsp;{{fimDownloadProvider.remoteheight}}</span>
                  </a>

                  <!-- local network - when server is off it displays -->
                  <a style="text-align: left; padding-left:10px" class="btn btn-default navbar-btn" 
                      href="#/server/fim/console">
                    <i class="fa fa-desktop"></i><span ng-show="fimDownloadProvider.server_running">&nbsp;&nbsp;{{fimDownloadProvider.blockheight}}</span>
                    <div style="position: absolute; width: 100%; left: 5px; top: 2px; padding-right: 10px;">
                      <progressbar ng-if="fimDownloadProvider.downloading" style="max-height:5px; padding: 0px; border: 0px;" class="progress-striped active" 
                      type="default" max="100" value="fimDownloadProvider.progress" >&nbsp;</progressbar>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </span>
        </div>
        <div ng-if="enableDualEngines">
          <span>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
              <li>&nbsp;</li>
              <li style="padding-top: 2px">
                <div class="btn-group dropup">

                  <a href class="btn btn-default navbar-btn">NXT</a>

                  <!-- global network - always displays the height of the connected public node -->              
                  <a style="text-align: left;" class="btn btn-default navbar-btn" 
                      href="#/activity/nxt/activity/latest">
                    <i class="fa fa-globe"></i><span>&nbsp;&nbsp;{{nxtDownloadProvider.remoteheight}}</span>
                  </a>

                  <!-- local network - when server is off it displays -->
                  <a style="text-align: left; padding-left:10px" class="btn btn-default navbar-btn" 
                      href="#/server/nxt/console">
                    <i class="fa fa-desktop"></i><span ng-show="nxtDownloadProvider.server_running">&nbsp;&nbsp;{{nxtDownloadProvider.blockheight}}</span>
                    <div style="position: absolute; width: 100%; left: 5px; top: 2px; padding-right: 10px;">
                      <progressbar ng-if="nxtDownloadProvider.downloading" style="max-height:5px; padding: 0px; border: 0px;" class="progress-striped active" 
                      type="default" max="100" value="nxtDownloadProvider.progress" >&nbsp;</progressbar>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>
  </body> 
</html><!--Thu Aug  6 12:07:18 CEST 2015-->
