<section id="contact" name="contact"></section>
<div id="footerwrap">
  <div class="container">
    <br>
    <div class="col-md-3">
      <center>
        <div class="centered">
          <div>Powered by FIMKrypto</div>              
          <p><a href="http://fimk.fi/en" target="_blank"><img src="images/fimk.png" class="main_logo" style="width:170px"></a></p>
        </div>
      </center>
    </div>
    <div class="col-md-3">
      <center>
        <div class="centered">
          <div>Compatible with FIMK</div>              
          <p><a href="http://fimk.fi/en" target="_blank"><img src="images/fimk_coin.png" class="main_logo" style="width:60px"></a></p>
        </div>
      </center>
    </div>        
    <div class="col-md-3">
      <center>
        <div class="centered">
          <div>Compatible with NXT</div>
          <br><a href="http://nxt.org" target="_blank"><img src="images/nxt.png" class="main_logo" style="width:100px"></a><br>
        </div>
      </center>
    </div>
    <div class="col-md-3">
      <center>
        <div class="centered">
          <div>Sponsored by DGEX</div>              
          <br><a href="https://dgex.com" target="_blank"><img src="images/dgex.gif" class="main_logo" style="width:150px"></a><br>
        </div>
      </center>
    </div>
  </div>
</div>
<div id="c">
  <div class="container">
    <p>Powered by <a href="http://fimk.fi">FIMKrypto</a></p>  
  </div>
</div>