<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
        data-target="#bs-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://mofowallet.com">
        <span><strong>Mofo</strong>Wallet.com</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/fimkrypto/mofowallet" target="_blank">
          Open Source&nbsp;&nbsp;<span class="fa fa-github"></span></a></li>
        <li><a href="http://fimk.fi/en" target="_blank">FIMKrypto</a></li>
        <li><a href="http://forum.fimk.fi" target="_blank">FIMK Forum</a></li>
        <li><a href="http://nxt.org" target="_blank">NXT Cryptocurrency</a></li>
        <li><a href="https://nxtforum.org" target="_blank">NXT Forum</a></li>
        <li><a href="https://dgex.com" target="_blank">DGEX Exchange</a></li>


      </ul>
    </div>
  </div>
</div>