<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home" class="smoothScroll"><b>MofoWallet</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#launch" class="smoothScroll">Browser</a></li>        
        <li><a href="#download" class="smoothScroll">Download</a></li>
        <li><a href="#features" class="smoothScroll">Features</a></li>
        <li><a href="#community" class="smoothScroll">Community</a></li>
        <li><a href="#platform" class="smoothScroll">Platform</a></li>
        <li><a target="_blank" href="http://fimkchat.com" class="smoothScroll"><b>Blog</b></a></li>
        <li><a target="_blank" href="https://www.mofowallet.com/launch.html" class="smoothScroll"><b>Wallet</b></a></li>
      </ul>
    </div>
  </div>
</div>

